
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width:700px;
    margin:auto;
    padding:20px;
    background-color:cyan;
}

.projects {
    border: 5px solid black;
    padding: 10px;x;
    margin: 10px;px;
    border-radius:8px;
}
