
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width:700px;
    margin:auto;
    padding:20px;
    background-color:cyan;
}

#race-bias-simulator {
    background-color:lightgoldenrodyellow;
}
